.container{
    display: flex;
    flex-direction:column ;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding-bottom: 30px;
    width: 80%;
}
.header{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

}
.text{
    font-size: 48px;
    font-weight: 600;
    color: #3c009d;
}
.underline{
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border: 9px;
}
.inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70%;
    width: 70%;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 70px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0 30px;
}
.input input{
    height: 50px;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: red;
    color: #797979;
    font-size: 20px;
}
.forgot-password{
    padding-left: 15px;
    margin-top: 25px;
    color: #797979;
    font-size: 20px;

}
.forgot-password span{
    color: #3c009d;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    background-color: #4c00b4;

}
.gray{
    background: #EAEAEA;
    color: #676767
}